# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db